
<ion-content Padding> 
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <img src='assets\img\logo.png' alt='Platzi Music Logo'>
      <h1>Escucha tu Musica</h1>
      <h2>EN CUALQUIER LUGA</h2>
      <P>
        los mejores albunes  las mejores canciones Escucha y comparte en 
        cualquier momento, a todas horas
      </P>
      <ion-icon name="play"></ion-icon>
    </ion-slide>
    <ion-slide>
        <ion-icon name="close"></ion-icon>
        <img src='assets\img\logo.png' alt='Platzi Music Logo'>
        <h1>Disfruta de nuestro reproductor</h1>
        <h2>DE VIDEOS INCREIBLES</h2>
        <P>
          entra al modo video de nuestro reproductor y obten a acceso a clips
          documentales y making offs increibles de tu artista favorito
        </P>
        <ion-icon name="videocam"></ion-icon>
      </ion-slide>
      <ion-slide>
          <ion-icon name="close"></ion-icon>
          <img src='assets\img\logo.png' alt='Platzi Music Logo'>
          <h1>Accede al Exclusivo</h1>
          <h2>MODO DEPORTE </h2>
          <P>
            Crea un play list basada en tu actividad fisica.<br/> 
            Ten reportes a lo que necesites con el GPS!
          </P>
          <ion-icon name="bicycle"></ion-icon>
        </ion-slide>
  </ion-slides>
</ion-content>
